$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

.header {
  display: flex;
  align-items: center;
  padding: rem(20) rem(60);
  background: #2c2e38;
  justify-content: space-between;
  border-bottom: rem(1) solid rgba(#67FFC8, .3);
}

.header_logo {
  margin: 0;

  svg {
    line-height: 0;
    margin: 0;

    path {
      fill: #67FFC8;
    }
  }
}

.header_info {
  display: flex;
  align-items: center;
}

.header_info--btn {
  width: rem(160);
  height: rem(60);
  border: rem(1) solid #67FFC8;
  border-radius: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: initial;
  margin-right: rem(60);
  cursor: pointer;
  font-size: rem(18);
  transition: background .4s ease-in-out;
  color: #fff;

  &:hover {
    background: #67FFC8;
    color: #2c2e38;

    span {
      color: #2c2e38;
    }
  }

  span {
    margin: 0 0 0 rem(8);
    color: #67FFC8;
    transition: color .4s ease-in-out;
  }
}

.header_info--avatar {
  width: rem(60);
  height: rem(60);
  background: #67FFC8;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}