$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

.login_page {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .logo {
    width: 100%;
    max-width: rem(260);
    height: auto;
    margin-bottom: rem(80);

    svg {
      width: 100%;
      height: auto;

      path {
        fill: #67FFC8;
      }
    }

  }

  .login_form {
    width: 100%;
    max-width: rem(420);
    background: #373a44;
    padding: rem(50) rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: rem(20);
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(86.02deg, #A24598 3.53%, #F7618B 49.8%, #2A7AFF 100.6%);
      mix-blend-mode: normal;
      opacity: 0.75;
      filter: blur(135.914px);
      content: '';
      z-index: -1;
      animation: blurAnimation 8s ease-in-out infinite both;
      box-shadow: 0 rem(64) rem(64) 0 rgba(0, 0, 0, 0.1), 0 rem(32) rem(32) 0 rgba(0, 0, 0, 0.1), 0 rem(16) rem(16) 0 rgba(0, 0, 0, 0.1), 0 rem(4) rem(4) 0 rgba(0, 0, 0, 0.1), 0 rem(2) rem(2) 0 rgba(0, 0, 0, 0.1);
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(86.02deg, #67FFC8 3.53%, #67FFC8 49.8%, #67FFC8 100.6%);
      mix-blend-mode: normal;
      opacity: 0.45;
      filter: blur(135.914px);
      content: '';
      z-index: -1;
      animation: blurAnimation2 8s ease-in-out infinite both;
      box-shadow: 0 rem(64) rem(64) 0 rgba(0, 0, 0, 0.1), 0 rem(32) rem(32) 0 rgba(0, 0, 0, 0.1), 0 rem(16) rem(16) 0 rgba(0, 0, 0, 0.1), 0 rem(4) rem(4) 0 rgba(0, 0, 0, 0.1), 0 rem(2) rem(2) 0 rgba(0, 0, 0, 0.1);
    }


    h1 {
      margin-bottom: rem(50);
      color: #fff;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: rem(300);
    }

    .input_wrap {
      position: relative;
      width: 100%;
      height: rem(40);
      margin-bottom: rem(20);

      &.active {
        label {
          opacity: 1;
          top: 0;
          background: #373a44;
        }
      }

      label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: rem(14);
        left: rem(20);
        z-index: 2;
        pointer-events: none;
        opacity: 1;
        transition: top .2s ease-in-out, opacity .4s ease-in-out, background .4s ease-in-out;
        padding: 0 rem(5);
        background: #373a44;
      }

      input {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        border: rem(1) solid #67FFC8;
        border-radius: rem(20);
        background: #373a44;
        padding: 0 rem(20);
        color: #fff;
      }
    }

    button {
      margin-top: rem(20);
      width: 100%;
      max-width: rem(300);
      height: rem(40);
      background: #67FFC8;
      border: 1px solid #67FFC8;
      text-align: center;
      color: #373a44;
      border-radius: rem(20);
      cursor: pointer;
      transition: background .4s ease-in-out, color .4s ease-in-out, border .4s ease-in-out;

      &:hover {
        background: #373a44;
        color: #67FFC8;
        border: rem(1) solid #67FFC8;

      }
    }
  }

  .no_account {
    margin-top: rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: rem(14);

    span {
      margin-right: rem(5);
    }

    a {
      color: #67FFC8;
      text-decoration: underline;
    }
  }

  .result_massage {
    text-align: center;
    font-size: rem(14);
    margin: 20px 0;
    color: #67FFC8;

    &.error {
      color: #f71d51;
    }
  }
}