$baseFontSize: 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}


.category {
  width: rem(300);
  height: 100%;
  background: #2c2e38;
  border-right: rem(1) solid #67FFC8;
}