$baseFontSize : 16;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

body {
  font: 400 16px/1.45 'Din';
  color: #CFCFD0;
  background: #2c2e38;
  height: 100%;
}


html {
  font-size: .7810vw;
  height: 100%;
}

#root {
  height: 100%;
}

.container {
  width: 100%;
  max-width: rem(1370);
  margin: 0 auto;
  padding: 0 rem(15);
}